@charset "UTF-8";
body{
  color: #333;
  font-size: 20px;
}
.contact{
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}
.contact h1{
  font-size: 32px;
  text-align: center;
  padding: 60px 0;
}
.contact h1 span{
  display: block;
}
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 1px solid #000;
  border-radius: 3px;
  box-sizing: border-box;
  font: inherit;
  outline: none;
  width: 99%;
  padding: 5px;
  margin: 1%;
  margin-bottom: 20px;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
  transition: .3s ease;
}

select::-ms-expand {
  display: none;
}
.contact form{
  max-width: 960px;
}

.contact textarea {
  resize: vertical;
  min-height: 200px;
}

.contact label{
  margin-left: 10px;
}
.contact input[type='button']{
  font-size: 19px;
  padding: 10px;
}
.contact input[type='button']:hover{
  background-color: #333;
  color: #eee;
}
.thanks{
  display: none;
  text-align: center;
  line-height: 25px;
  margin: 25vh 0;
}

@media screen and (min-width:480px) and (max-width:599px) { 

}

/* 600px〜959px：タブレット
------------------------------ */
@media screen and (min-width:600px) and (max-width:959px) {

  .contact{
    width: 80%;
  }
}
/* 960px〜1279px：小型PC
------------------------------ */
@media screen and (min-width:960px) and (max-width:1279px) {


  .contact{
    width: 60%;
  }
}

/* 1280px〜：大型PC
------------------------------ */
@media screen and (min-width:1280px) {

}