@charset "UTF-8";
.link h1{
    font-size: 40px;
    text-align: center;
    margin: 70px auto;
    color: #333;
}
.link h2{
    font-size: 28px;
    font-weight: 100;
    margin: 70px auto 30px;
    text-align: center;
    color: #333;
}
.link ul{
    padding: 0 10vw;
    font-size: 0;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}
.link ul li{
    display: inline-block;
    margin: 10px;
}
.link ul li a{
    display: inline-block;
    padding: 10px 25px;
    background-color: #01579B;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: .3s;
    box-shadow: 0 3px 10px rgba(0,0,0,.4);
}
.link ul li a:hover{
    box-shadow: none;
}
@media screen and (min-width:480px) and (max-width:599px) { 

}

/* 600px〜959px：タブレット
------------------------------ */
@media screen and (min-width:600px) and (max-width:959px) {

}
/* 960px〜1279px：小型PC
------------------------------ */
@media screen and (min-width:960px) and (max-width:1279px) {

}

/* 1280px〜：大型PC
------------------------------ */
@media screen and (min-width:1280px) {

}