@charset "UTF-8";
#gnav-bin{
  display: none;
}
body{
  font-family:"roboto","noto sans jp";
  background-color: #fefefe;
}
body::before{
  content: "";
  display: block;
  height: 72px;
  background-color: #f5fafd;
}
a{
  font-size: 17px;
  color: #01579B;
}
a:hover{
  color: #42a5f5;
}
.alert{
  color: darkred;
}
video,img{
  display: block;
  width: 85%;
  margin: 0 auto;
}
#head{
  display: block;
  box-sizing: border-box;
  height: 72px;
  background-color: #fcfcff;
  box-shadow: 0px 3px 3px #ccc;
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  
}
#head h1{
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 72px;
  height: 72px;
}
#head h1 a img{
  width: 64px;
  height: 64px;
  padding: 4px;
}
#gnav{
  clear: both;
  width: 50vw;
  height: 100vh;
  position: fixed;
  right: -50vw;
  top: 0;
  background-color: #202020;
  transition: transform .3s;
}
.gnav-open::after{
  content: "";
  display: block;
  width: 50vw;
  height: 100vh;
  position: absolute;
  right: -50vw;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform .3s;
}

#head .gnav-open,
#gnav .gnav-close{
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  height: 72px;
  width: 72px;
  cursor: pointer;
  user-select: none;
}
#head .gnav-open i,
#gnav .gnav-close i{ font-size: 58px; padding: 7px; }
#head .gnav-open{ color: #000000; float: right; }
#gnav .gnav-close{ color: #fefefe; right: 0; position: absolute; }

#gnav-ul{
  width: 100%;
  position: absolute;
  top: 72px;
}
#gnav-ul li{
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
#gnav-ul li a{
  display: block;
  height: 20px;
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
#gnav-ul li a:hover{
  color: #01579B;
}
#gnav-bin:checked ~ #head #gnav{
  transform: translateX(-50vw);
}
#gnav-bin:checked ~ #head .gnav-open::after{
  transform: translateX(-100vw);
}
#visual{
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 10px;
}
#visual img{
  width: 100%;
}
#visual .text-box{
  box-sizing: border-box;
  padding: 20px;
}
#visual .text-box p.text{
  line-height: 20px;
  margin-bottom: 10px;
}
#visual .text-box span{
  font-size: 48px;
  font-weight: 600;
}
#visual .text-box a{
  margin: 10px 0;
  color: #fff;
}
#visual .text-box a:hover{
  color: #fff;
}
#visual .text-box a span{
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 20px;
  font-weight: 100;
  padding: 8px;
  text-decoration: none;
  position: relative;
  box-shadow: 0 3px 10px rgba(0,0,0,.4);
}
#visual .text-box a i{
  background-color: #202020;
  font-size: 24px;
  padding: 6px;
  box-shadow: 0 3px 10px rgba(0,0,0,.4);
}
#visual .text-box a span::before{
  content: '';
  position: absolute;
  top: 0;right: 0;bottom: 0;left: 0;
  z-index: -1;
  background-color: #01579B;
}
#visual .text-box a span::after{
  content: '';
  position: absolute;
  top: 0;right: 0;bottom: 0;left: 0;
  z-index: -1;
  background-color: #333;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}
#visual .text-box a span:hover::after{
  transform-origin: left top;
  transform: scale(1, 1);
}
#news{
  padding: 10px;
  background-color: #fafafa;
  color: #333;
}
#news section{
  padding: 10px;
  margin: 10px 0;
  border-bottom: 1px solid #999;
  text-align: center;
}
#news .title{
  font-size: 20px;
  margin-bottom: 3px;
}
#news p{
  font-size: 19px;
}
#news time{
  display: block;
  line-height: 22px;
  margin: 5px 0;
}
#news a{
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  background-color: #01579B;
  box-shadow: 0 3px 5px rgba(0,0,0,.2);
  transition: .4s;
  color: #fff;
}
#news a:hover{
  box-shadow: none;
}
#video video{
  border-radius: 5px;
}
#video h1{
  font-size: 32px;
  padding: 20px 0;
  text-align: center;
}
.video-title.a1{
  position: relative;
  height: 30px;
  padding: 10px 0;
  font-size: 26px;
}
.video-title.a1 p{
  font-size: 100%;
  font-family: Consolas,Monaco,monospace;
  font-weight: bold;
  width: 0;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  left: 0;
  height: 30px;
}
.k-ani{
  animation: typing 6s steps(18) infinite, cursor 1s steps(1,start) infinite;
  border-right: .1em solid;
}
@keyframes cursor {
  50% { border-right-color:transparent; }
}
@keyframes typing {
  10%{ width:0; }
  30% { width:18ch }
  70% { width:18ch }
  90% { width:0; }
}
#foot{
  padding: 20px 0;
  margin-top: 20px;
  text-align: center;
}